@{
    ViewData["Title"] = "Inicio";
}



<!-- esta es la estructura base o la pagina principal  -->



<h1>Inicio</h1>
<ol>





    <!-- LLAMA AL LA VISTA LISTA Y LISTA TODO CLIENTE
        recordar Listado debe estar escrito igual en el controller
    -->

    <li><a href="/Producto/ListadoPorFecha">Listado Por Fecha</a></li>










    <!-- LLAMA AL LA VISTA LISTA Y LISTA TODO CLIENTE
        recordar Listado debe estar escrito igual en el controller
    -->

    <li><a href="/Producto/ListadoTotal">Listado</a></li>








</ol>

